<h1>Found users by query:</h1>
<div class='found_by_query_users'>

  <div>
    <h3>Database: <%= @db %></h3>
    <h4> <%= @time %> seconds</h4>
    <h4> <%= @response.length-1 %> records found</h4>
    <!--<h3>User's parameters:</h3>-->
    <h4><%= @query %></h4>
    <!--<h4><%= @date %></h4>-->
    <!--<h4><%= @entitlement %></h4>-->


  </div>

  <table class="datagrid">
    <% @response.each do |row| %>
        <tr>
          <% row.each do |column| %>
              <td><%= column %></td>
          <% end %>
        </tr>
    <% end %>
  </table>


</div>

